<!-- <h2>Login works!</h2>

<button (click)="toggleDiv()">Toggle Div</button>

@if(display){
<div style="background-color: rgb(233, 80, 233); transition: all; height: 200px; width: 200px"></div>
}

<hr>

<button (click)="toggleTwo()">Toggle 2 divs</button>

@if(toggle){
    <div style="background-color: gold; transition: all; height: 200px; width: 200px"></div>
}
@else{
    <div style="background-color: red; transition: all; height: 200px; width: 200px"></div>
} -->


<!-- <h1>Loops in ANgular 19 and 18</h1> -->

<!-- <h2>{{users[0]}}</h2>
<h2>{{users[1]}}</h2>
<h2>{{users[2]}}</h2> -->

<!-- @for(user of users;track user;let id = $index){
    <p style="color: aliceblue;">{{id}}</p>
    <h2>{{user}}</h2>
    } -->


<h1>Signals in Angular</h1>

<p>{{x}}</p>
<p>{{count()}}</p>
<p>{{data()}}</p>
<p>{{notData}}</p>

<button (click)="updateX()">Set Value</button>
<button (click)="updateSignal()">Increase signal</button>
<button (click)="updateComputed(20)">Increase Compouted Signal</button>
<button (click)="updateProperty(30)">Increase Value</button>