<nav class="nav">
    <div class="logo">Test</div>
    <ul class="link">
        <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/about">About</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/contact">Contact</a>
        </li>
      </ul>
</nav>
